<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/null.css' %}">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <title>Title</title>

</head>
<body>
<div class="main">
  <div class="main_h">
  <div class="header_left">
      <div class="main_header_list">
      <div class="header_list_logoyip">
          <img src="{% static 'img/icons8.png'%}" alt="">
      </div>
        <div class="header_list_social_account">
            <p class="social_account_title">Социальные сети</p>
            <ul class="social_account_list">
                <li class="social_account_item">
                    <a href="#">
                        <img src="{% static 'img/inst.jpg'%}" alt="">
                      </a>
                </li>
                <li class="social_account_item">
                    <a href="#">
                        <img src="{% static 'img/teleg.jpg'%}" alt="">
                      </a>
                </li>
                <li class="social_account_item">
                    <a href="#">
                        <img src="{% static 'img/tiktok.jpg'%}" alt="">
                      </a>
                </li>
                <li class="social_account_item">
                    <a href="#">
                        <img src="{% static 'img/wats.jpg'%}" alt="">
                      </a>
                </li>
                <li class="social_account_item">
                    <a href="#">
                        <img src="{% static 'img/yout.jpg'%}" alt="">
                      </a>
                </li>

            </ul>
        </div>
      </div>
      <div class="header_right">
            <ul class="phone_number_list">
                <li class="phone_number_item">
                    +375 (29) 2558905
                </li>
               <li class="phone_number_item">
                    +375 (44) 2558905
                </li>
               <li class="phone_number_item">
                    +375 (33) 2558905
                </li>

            </ul>
                <div class="authorization">
                    <a href="#"> Регистрация</a>
                    <a href="#"> Авторизация</a>
                </div>

      </div>
  </div>
</div>
<div class="navigation_br">

</div>
<div class="list_crd">

</div>

</div>

</body>
</html>